@charset "UTF-8";
/* CSS Document */


html, body, ul, ol, p {
	margin:0px;
	padding:0px;
}
#wrapper {
	position:relative;
	width:1100px;
	margin:0 auto;
	padding-top: 15px;
}

#social_media {
	position: absolute;
	top: 10px;
	right: -94px;
	z-index: 1;
	width: 393px;
}
#social_media a {
	float: left;
	margin: 5px 10px 0px 0px;
}
#logo {
	margin: 500px;
	width: 800px;
	display: block;
}
#main_nav {
	background: url('graphics/background.png') no-repeat;
	width: 837px;
	height: 60px;
	display: block;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 15px;
}
#main_nav li {
	list-style: none;
	float:left;
}
#main_nav li a:hover {
	text-shadow: 0px 0px 3px #edf3f5;
}
#main_nav li a {
	padding: 19px 28px;
	display: block;
	color:#fff;
}

.intro_blurbs {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #666;
	font-weight: normal;
	margin:0 auto;
	text-align: center;
	width: 660px;
}

.posterpet {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #666;
	font-weight: normal;
	margin:0 auto;
	text-align: center;
	width: 660px;
}

.posterpet_options {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: normal;
	margin:0 auto;
	text-align: center;
}

.about_me_title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	font-weight: normal;
	padding-right: 0px;
	text-align: center;
	margin: 15px 0px;
}
.about_me_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;
	width:775px;
	margin: 0 auto;
}
#press_links {
	width: 775px;
	margin: 0 auto;
}
#press_links li {
	list-style:none;
}
#press_links a {
	color: #000;
}
#press_links a:hover {
	text-decoration: underline;
	color: #999;
}
.center_img {
	display: block;
	margin: 0 auto;
}
h3 {
	text-align: center;
}
.pricing_content {
	width:530px;
	margin:0 auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #000000;
	font-weight: normal;
	text-align: justify;
}
.style_examples {
	width: 815px;
	margin:0 auto;
	margin-top:20px;
	position:relative;
	margin-bottom:40px;
	vertical-align:central;
		text-align: center;

	}

.work {
	width: 815px;
	margin:0 auto;
	margin-top:20px;
	position:relative;
	margin-bottom:40px;
	text-align: center;

	
	}

	
	
.style_examples_adr {
	width: 1200px;
	margin:0 auto;
	margin-top:20px;
	position:relative;
	margin-bottom:40px;
}
.posterpet_examples {
	width: 378px;
	position:relative;
	
}
#event {
	position: absolute;
	top: 0px;
	left: -245px;
}
.start_here {
	position: absolute;
	top: -1255px;
	right: -237px;
}


.startingat {
	position: absolute;
	top: 1px;
	right: 830px;
}

.benefitting {
	position: absolute;
	top: 1px;
	right: 500px;
}


/* Pet Orders */

#order_pet_content {
	padding-left: 50px;
	overflow: hidden;
}
#order_pet_content h1 {
	font-size: 30px;
	margin: 0px;
	
}
.heading1_pet {
	font-size: 50px;
	font-weight: bold;
	margin: 0px;
	align: center;
}
#order_pet_content h2 {
font-weight: bold;
font-size: 30px;
border-bottom: 2px solid #333;
width: 300px;
}
#order_pet_content textarea {
	padding: 15px;
	    resize: none; 
		width: 100%;
}
#order_pet_content label{
	font-size: 16px;
}
.terms-conditions{
	float: right;
	max-width: 190px;
font-size: 14px;
margin-right: 10px;
margin-top: 5px;
}
.terms-conditions a{
	text-decoration: underline;
	color: #333;
	margin: 0;
}

.form_titles {
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	display: block;
	 
}

.form_titles_clarification {
	font-weight:100;
	font-size: 14px;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#999;
	

}

.privacy {
	font-weight:100;
	font-size: 14px;
		float:right;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#999;
		padding: 5px 14px;

	

}

.aboutprint {
	font-weight: bold;
	font-size: 17px;
	 
	text-align: center;
}

.christmas {
	font-weight: bold;
	font-size: 17px;
 
	text-align: center;
	color:#f00;
}

#harleqin-img-1  {
	float: right;
	margin-right: 20px;
	width: 350px;
}
#harleqin-img-2 {
	float: right;
margin-top: 20px;
width: 500px;
}
#brindle-fawn-img-1 {
width: 300px;
float: right;
margin-top: 50px;

}

#labrador-img-1 {
width: 400px;
float: right;
margin-top: 70px;
margin-right: 25px;
}

#brindle-fawn-img-2 {
width: 380px;
float: right;
margin-top: 60px;
}
#brindle-fawn-img-3 {
width: 380px;
float: right;
margin-top: 30px;
}

#blue-merle-img-1 {
width: 380px;
float: right;
margin-top: 60px;
}
#blue-merle-img-2 , #blue-merle-img-3 {
width: 380px;
float: right;
margin-top: 60px;
}
#black-ticked-img-1 ,#black-ticked-img-2,#black-ticked-img-3 {
margin-top: 10px;
width: 100%;
float: right;
max-width: 380px;
 
}


#num_pets_tag {
	color:#666666;
	font-size:18px;
	margin-bottom: 20px;
	white-space:nowrap;
	text-align: left;
}
#num_pets_tag a {
	text-decoration:underline;
	color:#666666;
	font-size:18px;
}
 
#order_pet_content {
	max-width: 850px;
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
.required {
	color:red !important;
	color: red !important;
	display: inline-block;
	margin-left: 5px;
}
#pet_form input[type="file"] {
	display:block;
	margin: 5px 0px;
}
#pet_form input[type="text"] {
	width: 250px;
	display:block;
	padding: 4px 5px;
}
#pet_form input[type="submit"] {
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-radial-gradient(0px 100%, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px), -webkit-radial-gradient(100% 100%, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px), -webkit-radial-gradient(100% 0px, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px), -webkit-radial-gradient(0px 0px, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px);
	background-origin: padding-box, padding-box, padding-box, padding-box;
	background-position: 0% 100%, 100% 100%, 100% 0%, 0% 0%;
	background-repeat: no-repeat;
	background-size: 75% 75%;
	 border-radius: 6px;
	 border: none;
	 line-height: 1;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 23px;
	margin:10px 0px;
	padding: 10px 16px; 
	text-align: right;
 }
 
 
 
#footer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	font-weight: normal;
	padding-right: 0px;
	width: 320px;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

@media screen and (max-width: 800px) { 
	#black-ticked-img-1 ,#black-ticked-img-2,#black-ticked-img-3 {
		max-width: 380px;
		float: none;
		 
		display: block;
		width: 100%;
		margin: 10px auto 0;
	}
	#order_pet_content h1{
		text-align: center;
		font-size: 24px;
	}
	#num_pets_tag {
		text-align: center;
	}
}
 /* view gallery page */

 .samples{
 	text-align: center;
 }
@media screen and (max-width: 480px) {
  
	.samples {
		width: 90%;
		margin: 8px 5%;
		position: relative;
		overflow: hidden;
	}
	 
	.samples a{
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		background: black;
		margin: 0;
		float: left;
		clear: both;
	}
	 
	.samples a > img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		width: 100%;
		height: 100%;
	}
}

/* photo contest page*/

#order_pet_content .float-left{
	float: left;
	width: 49%;
}
#order_pet_content.photo_contest h1{
	font-size: 30px;
	text-align: left;
}
 
#order_pet_content.photo_contest h1.mobile{
	display: none;
}
#order_pet_content .float-right{
	float: right;
	width: 50%;
 
	border-left: 2px solid #333;
	padding-left: 4%;
}
#order_pet_content.photo_contest .terms-conditions, #order_pet_content.photo_contest #pet_form input[type="submit"]{
 float: left;
}
#order_pet_content .photo-rec-tagline{
	padding-left: 30px;
}
#order_pet_content .photo-rec-tagline a{
     color: #333;
     text-decoration: underline;
	}
@media screen and (max-width: 800px) { 
#order_pet_content.photo_contest h1, #order_pet_content .float-left h1{
	display: none;
}
#order_pet_content.photo_contest h1.mobile{
	display: block;
	font-size: 24px;
}
#order_pet_content .photo-rec-tagline{
	font-size: 15px;

	}
#order_pet_content .float-right {
float: left;
width: 100%;
border-left: 0;
padding-left: 0;
}
#order_pet_content .float-left {
float: left;
width: 100%;
margin-top: 20px;
}
	}

