@charset "UTF-8";
/* CSS Document */


    


#container {
   
    margin-left: auto;
    margin-right: auto;
	
}

#header{
	position: absolute;
	top: 83px;
	left: 367px;
	width: 330px;
	height: 504px;
}

#main_image{
	position: absolute;
	top: 21px;
	left: 76px;
}

#border_top{
	position: absolute;
	top: 10px;
}

#logo{
	position: relative;
	top: 673px;
	left: 970px;
	width: 121px;
}

#nav{
    position: absolute;
    top: 100px;
    left: 370px;
    right: 150px;
}

#nav td, #nav tr{
    padding: 0px;
    margin: 0px;
}

#center{
    position: absolute;
    min-height: 350px;
}

#cloud{
	position: absolute;
	left: 183px;
	top: 33px;
}

#footer{
    position: relative;
}

#border_bottom{
	position: absolute;
	z-index: -1;
	left: 44px;
	top: -105px;
}
#nav {
    width:40px;
    margin-left: 100px;
	margin-top: 0;
}


#toplinks {
	position: absolute;
	left: 15px;
	width: 0;
	top: 0;
	vertical-align: middle;
}
#copyright {
	position: absolute;
	left: 31px;
	width: 3px;
	top: 485px;
}
#body {
	position: absolute;
	left: 175px;
	width: 3px;
	top: 158px;
}

.links {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	outline: none;
	
}

a.home:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 18px;
font-weight: normal;
color: #000000;
text-decoration: none; 
text-align: left;
outline: none;

}
a.home:hover {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 18px;
color: #000000;
font-weight: normal;
outline: none;
text-decoration: none;

}
a.home:active { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 18px;
color: #000000;
font-weight: normal;
outline: none;
text-decoration:none;

}
a.home:visited{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 18dpx;
font-weight: normal;
text-decoration: none;
color: #000000;
outline: none;

}

.serif {
font-family: Georgia, "Times New Roman", Times, serif; 
font-size: 16px;
color: #000000;
font-weight: bold;
outline: none;

}
.serif_normal {
font-family: Georgia, "Times New Roman", Times, serif; 
font-size: 14px;
color: #000000;
font-weight: normal;
outline: none;

}
	

.link_bold {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 15px;
color: #000000;
font-weight: bold;
outline: none;

}
a:link { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;
}
a:hover {
font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;

}
a:active { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;

}
a:visited{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;
}

a.link_bold:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 25px;
font-weight: bold;
color: #000000;
text-align: center;
text-decoration: none;
outline: none;

}
a.link_bold:hover {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 25px;
color: #F00;
text-align: center;
font-weight: bold;
outline: none;

}
a.link_bold:active { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 25px;
color: #F00;
font-weight: bold;
outline: none;

}

.intro_text{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: -30px;
	text-align: justify;
}

.caption{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	padding-left: 0px;
	padding-top: 0px;
	text-align: left;
}

.subsection{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
color: #000000;
font-style: italic;
font-weight:bold; 
padding-left: 10px;
padding-top: 5px;
padding-right: 5px;
}

.about_me_title{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
color: #000000;
font-weight: bold;
padding-right: 0px;
}

.figure{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
color: #000000;
font-style: italic;
font-weight: bold;
padding-right: 30px;
margin-left: 50px;
}

a.about_me_text:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #666;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-decoration: underline;
	text-align: justify;
}


.about_me_text{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;
}

.about_me_italic{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
	text-align: justify;
	font-style: italic;
}

.border_bottom{ 
border-bottom-style: dotted; 
border-bottom-color: #000000; 
border-bottom-width: 4px; 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 15px;
}
.border_top{ 
border-top-style: solid; 
border-top-color: #000000; 
border-top-width: 2px;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 15px;
}

a.text:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
font-weight: normal;
color: #000000;
text-decoration:none;
text-align: left;
outline: none;

}
a.text:hover {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color: #ff0505;
font-weight: normal;
outline: none;
text-decoration: none;

}
a.text:active { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color: #ff0505;
font-weight: bold;
outline: none;
text-decoration:none;

}
a.text:visited{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
font-weight: bold;
text-decoration: none;
color: #000000;
outline: none;

}
.H1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
	color: #000000;
	outline: none;
	font-weight: bold;
}
.H2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-align: left;
	color: #000000;
	outline: none;
	padding-right: 30px;
}

.H3{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
font-weight: bold;
text-decoration: none;
color: #000000;
outline: none;
padding-right: 30px;
}
.note{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	padding-left: 30px;
	padding-right: 5px;
	text-align: left;
}
.number{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
font-weight: normal;
text-decoration: none;
color: #000000;
counter-increment: chapter;
padding-right: 5px;

}

a.sidelinks:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 11px;
font-weight: normal;
color: #000000;
text-decoration: none ;
text-align: left;
font-style: italic;
outline: none;
text-align: right;

}
a.sidelinks:hover {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 11px;
color: #000000;
font-weight: bold;
outline: none;
text-decoration: none;
text-align: right;

}
a.sidelinks:active { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 11px;
color: #000000;
font-weight: bold;
outline: none;
text-decoration: none;
text-align: right;

}
a.sidelinks:visited{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 11px;
font-weight: none;
text-decoration: none;
color: #000000;
outline: none;
text-align: right;

}

.divider{ 
border-bottom-style: solid;
border-bottom-color: #000000; 
border-bottom-width: 1px; 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
}

.tableheader{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 12px;
color: #000000;
font-weight: bold;
outline: none;
text-decoration: none;
text-align: left;
background: #A1CBEA;
padding-left: 5px;
}

a.caption:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
font-weight: normal;
color: #000000;
text-decoration:none;
text-align: left;
outline: none;

}
a.caption:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
color: #000000;
font-weight: normal;
outline: none;
text-decoration: none;

}
a.caption:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
color: #000000;
font-weight: normal;
outline: none;
text-decoration:none;

}
a.caption:link { 
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
font-weight: normal;
text-decoration: none;
color: #000000;
outline: none;

}
.email {
	font-size: 30px;
}
.email {
	font-size: 25px;
}
.right {
	text-align: right;
}
.about_me_text_indent {
	padding-left: 15px;
}

    #lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

    
      
      
    <script type="text/javascript">  
        jQuery(document).ready(function($) (  
        {  
            $('#floatdiv').addFloating(  
                {  
                    targetRight: 1;  
                    targetTop: 10; 
                    snap: true;  
                });  
        });  
    </script>  
